[Desktop Entry]
Name=Blade of Agony
Exec=boa
Comment=WolfenDoom: Blade of Agony
Keywords=boa;wolfendoom;doom;gzdoom
Type=Application
Icon=${SNAP}/boa.png
StartupNotify=true
